# Collaborative filtering on the MovieLense Dataset

## Learning Objectives
1. Know how to explore the data using BigQuery
2. Know how to use the model to make recommendations for a user
3. Know how to use the model to recommend an item to a group of users

###### This notebook is based on part of Chapter 9 of [BigQuery: The Definitive Guide](https://www.oreilly.com/library/view/google-bigquery-the/9781492044451/ "http://shop.oreilly.com/product/0636920207399.do") by Lakshmanan and Tigani.
### MovieLens dataset
To illustrate recommender systems in action, let’s use the MovieLens dataset. This is a dataset of movie reviews released by GroupLens, a research lab in the Department of Computer Science and Engineering at the University of Minnesota, through funding by the US National Science Foundation.

Download the data and load it as a BigQuery table using:

In [1]:
import os
import tensorflow as tf
PROJECT = "" # REPLACE WITH YOUR PROJECT ID

# Do not change these
os.environ["PROJECT"] = PROJECT
os.environ["TFVERSION"] = '2.3'

In [2]:
%%bash
rm -r bqml_data
mkdir bqml_data
cd bqml_data
curl -O 'http://files.grouplens.org/datasets/movielens/ml-20m.zip'
unzip ml-20m.zip
yes | bq rm -r $PROJECT:movielens
bq --location=US mk --dataset \
    --description 'Movie Recommendations' \
    $PROJECT:movielens
bq --location=US load --source_format=CSV \
    --autodetect movielens.ratings gs://cloud-training/recommender-systems/movielens/ratings.csv
bq --location=US load  --source_format=CSV \
    --autodetect movielens.movies_raw gs://cloud-training/recommender-systems/movielens/movies.csv

Archive:  ml-20m.zip
   creating: ml-20m/
  inflating: ml-20m/genome-scores.csv
  inflating: ml-20m/genome-tags.csv
  inflating: ml-20m/links.csv
  inflating: ml-20m/movies.csv
  inflating: ml-20m/ratings.csv
  inflating: ml-20m/README.txt
  inflating: ml-20m/tags.csv
BigQuery error in rm operation: Not found: Dataset qwiklabs-
gcp-04-66f2200a3331:movielens
Dataset 'qwiklabs-gcp-04-66f2200a3331:movielens' successfully created.

rm: cannot remove 'bqml_data': No such file or directory
  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100  189M  100  189M    0     0  47.6M      0  0:00:03  0:00:03 --:--:-- 47.6M
Waiting on bqjob_r6ddeb258edf8bb9_00000179be272df9_1 ... (48s) Current status: DONE
Waiting on bqjob_r3ebe9d6714afa4e_00000179be27f6c0_1 ... (1s) Current status: DONE

## Exploring the data
Two tables should now be available in <a href="https://console.cloud.google.com/bigquery">BigQuery</a>.

Collaborative filtering provides a way to generate product recommendations for users, or user targeting for products. The starting point is a table, <b>movielens.ratings</b>, with three columns: a user id, an item id, and the rating that the user gave the product. This table can be sparse -- users don’t have to rate all products. Then, based on just the ratings, the technique finds similar users and similar products and determines the rating that a user would give an unseen product. Then, we can recommend the products with the highest predicted ratings to users, or target products at users with the highest predicted ratings.

In [3]:
%%bigquery --project $PROJECT
SELECT *
FROM movielens.ratings
LIMIT 10

Query complete after 0.01s: 100%|██████████| 2/2 [00:00<00:00, 933.73query/s]
Downloading: 100%|██████████| 10/10 [00:01<00:00,  6.42rows/s]

   userId  movieId  rating   timestamp
0   70118      505     2.0   974610690
1   70141     5349     2.0  1036099792
2   70144    45447     2.0  1216560730
3   70201     4305     2.0  1201836450
4   70201    56949     2.0  1217330350
5   70204      647     2.0   983427696
6   70204     2471     2.0   983428300
7   70213      351     2.0   975523812
8   70253      172     2.0   830274272
9   70263     2580     2.0   978546746

A quick exploratory query yields that the dataset consists of over 138 thousand users, nearly 27 thousand movies, and a little more than 20 million ratings, confirming that the data has been loaded successfully.

In [4]:
%%bigquery --project $PROJECT
SELECT 
    COUNT(DISTINCT userId) numUsers,
    COUNT(DISTINCT movieId) numMovies,
    COUNT(*) totalRatings
FROM movielens.ratings

Query complete after 0.00s: 100%|██████████| 4/4 [00:00<00:00, 1499.44query/s]
Downloading: 100%|██████████| 1/1 [00:01<00:00,  1.50s/rows]

   numUsers  numMovies  totalRatings
0    138493      26744      20000263

On examining the first few movies using the query following query, we can see that the genres column is a formatted string:

In [5]:
%%bigquery --project $PROJECT
SELECT *
FROM movielens.movies_raw
WHERE movieId < 5

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 332.46query/s]
Downloading: 100%|██████████| 4/4 [00:01<00:00,  3.00rows/s]

,movieId,title,genres
0,3,Grumpier Old Men (1995),Comedy|Romance
1,4,Waiting to Exhale (1995),Comedy|Drama|Romance
2,2,Jumanji (1995),Adventure|Children|Fantasy
3,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy

We can parse the genres into an array and rewrite the table as follows:

In [6]:
%%bigquery --project $PROJECT
CREATE OR REPLACE TABLE movielens.movies AS
    SELECT * REPLACE(SPLIT(genres, "|") AS genres)
    FROM movielens.movies_raw

Query complete after 0.00s: 100%|██████████| 3/3 [00:00<00:00, 1571.49query/s]

Empty DataFrame
Columns: []
Index: []

In [7]:
%%bigquery --project $PROJECT
SELECT *
FROM movielens.movies
WHERE movieId < 5

Query complete after 0.00s: 100%|██████████| 1/1 [00:00<00:00, 351.28query/s]
Downloading: 100%|██████████| 4/4 [00:01<00:00,  2.69rows/s]

,movieId,title,genres
0,4,Waiting to Exhale (1995),"[Comedy, Drama, Romance]"
1,3,Grumpier Old Men (1995),"[Comedy, Romance]"
2,2,Jumanji (1995),"[Adventure, Children, Fantasy]"
3,1,Toy Story (1995),"[Adventure, Animation, Children, Comedy, Fantasy]"

## Matrix factorization
Matrix factorization is a collaborative filtering technique that relies on factorizing the ratings matrix into two vectors called the user factors and the item factors. The user factors is a low-dimensional representation of a user_id and the item factors similarly represents an item_id.

In [8]:
%%bash
bq --location=US cp \
cloud-training-demos:movielens.recommender_16 \
movielens.recommender

Table 'cloud-training-demos:movielens.recommender_16' successfully copied to 'qwiklabs-gcp-04-66f2200a3331:movielens.recommender'

Waiting on bqjob_ra5737e8c22b8a59_00000179be2acee0_1 ... (0s) Current status: DONE

In [9]:
%%bigquery --project $PROJECT
SELECT *
-- Note: remove cloud-training-demos if you are using your own model: 
FROM ML.TRAINING_INFO(MODEL `cloud-training-demos.movielens.recommender`)

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 1006.55query/s]
Downloading: 100%|██████████| 10/10 [00:01<00:00,  7.84rows/s]

   training_run  iteration       loss  eval_loss  duration_ms
0             0          9   0.478570        NaN       335953
1             0          8   0.483399        NaN       170570
2             0          7   0.489912        NaN       339007
3             0          6   0.498437        NaN       156236
4             0          5   0.510123        NaN       311858
5             0          4   0.527014        NaN       167889
6             0          3   0.549901        NaN       419744
7             0          2   0.586216        NaN       175490
8             0          1   0.791212        NaN       347699
9             0          0  67.987718        NaN       355934

In [10]:
%%bigquery --project $PROJECT
SELECT *
-- Note: remove cloud-training-demos if you are using your own model:
FROM ML.TRAINING_INFO(MODEL `cloud-training-demos.movielens.recommender_16`)

Query complete after 0.00s: 100%|██████████| 2/2 [00:00<00:00, 790.86query/s]
Downloading: 100%|██████████| 10/10 [00:01<00:00,  7.62rows/s]

   training_run  iteration       loss  eval_loss  duration_ms
0             0          9   0.478570        NaN       335953
1             0          8   0.483399        NaN       170570
2             0          7   0.489912        NaN       339007
3             0          6   0.498437        NaN       156236
4             0          5   0.510123        NaN       311858
5             0          4   0.527014        NaN       167889
6             0          3   0.549901        NaN       419744
7             0          2   0.586216        NaN       175490
8             0          1   0.791212        NaN       347699
9             0          0  67.987718        NaN       355934

When we did that, we discovered that the evaluation loss was lower (0.97) with num_factors=16 than with num_factors=36 (1.67) or num_factors=24 (1.45). We could continue experimenting, but we are likely to see diminishing returns with further experimentation.

## Making recommendations

With the trained model, we can now provide recommendations. For example, let’s find the best comedy movies to recommend to the user whose userId is 903. In the query below, we are calling ML.PREDICT passing in the trained recommendation model and providing a set of movieId and userId to carry out the predictions on. In this case, it’s just one userId (903), but all movies whose genre includes Comedy.

In [11]:
%%bigquery --project $PROJECT
SELECT * FROM
ML.PREDICT(MODEL `cloud-training-demos.movielens.recommender_16`, (
  SELECT 
    movieId, title, 903 AS userId
  FROM movielens.movies, UNNEST(genres) g
  WHERE g = 'Comedy'
))
ORDER BY predicted_rating DESC
LIMIT 5

Query complete after 0.00s: 100%|██████████| 4/4 [00:00<00:00, 2417.47query/s]
Downloading: 100%|██████████| 5/5 [00:01<00:00,  3.84rows/s]

   predicted_rating  movieId                                     title  userId
0         11.496418    51632           Atlantis: Milo's Return (2003)      903
1         11.431917   127390  Family Guy Presents: Blue Harvest (2007)     903
2         11.428360    89939                               Gigi (1949)     903
3         11.372779    83359                    Play House, The (1921)     903
4          9.750968    97662                   Girl in Progress (2012)     903

## Filtering out already rated movies
Of course, this includes movies the user has already seen and rated in the past. Let’s remove them.

**TODO 1**: Make a prediction for user 903 that does not include already seen movies.

In [13]:
%%bigquery --project $PROJECT
SELECT * FROM
ML.PREDICT(MODEL `cloud-training-demos.movielens.recommender_16`, (
  WITH seen AS (
    SELECT ARRAY_AGG(movieId) AS movies 
    FROM movielens.ratings
    WHERE userId = 903
  )
  SELECT 
    movieId, title, 903 AS userId
  FROM movielens.movies, UNNEST(genres) g, seen
  WHERE g = 'Comedy' and movieId not in unnest(seen.movies)
))
ORDER BY predicted_rating DESC
LIMIT 5

Query complete after 0.00s: 100%|██████████| 7/7 [00:00<00:00, 3540.78query/s]
Downloading: 100%|██████████| 5/5 [00:01<00:00,  3.91rows/s]

   predicted_rating  movieId                                     title  userId
0         11.496418    51632           Atlantis: Milo's Return (2003)      903
1         11.431917   127390  Family Guy Presents: Blue Harvest (2007)     903
2         11.428360    89939                               Gigi (1949)     903
3         11.372779    83359                    Play House, The (1921)     903
4          9.750968    97662                   Girl in Progress (2012)     903

For this user, this happens to yield the same set of movies -- the top predicted ratings didn’t include any of the movies the user has already seen.

## Customer targeting

In the previous section, we looked at how to identify the top-rated movies for a specific user. Sometimes, we have a product and have to find the customers who are likely to appreciate it. Suppose, for example, we wish to get more reviews for movieId = 96481 (American Mullet) which has only one rating and we wish to send coupons to the 5 users who are likely to rate it the highest. 

**TODO 2**: Find the top five users who will likely enjoy *American Mullet (2001)*

In [14]:
%%bigquery --project $PROJECT
SELECT * FROM
ML.PREDICT(MODEL `cloud-training-demos.movielens.recommender_16`, (
  SELECT 
    96481 AS movieId, 
    (SELECT title FROM movielens.movies WHERE movieId=96481) title,
    userId
  FROM
    (select distinct userId from movielens.ratings)
))
ORDER BY predicted_rating DESC
LIMIT 5

Query complete after 0.00s: 100%|██████████| 6/6 [00:00<00:00, 2505.31query/s]
Downloading: 100%|██████████| 5/5 [00:01<00:00,  3.33rows/s]

   predicted_rating  movieId                   title  userId
0        156.088272    96481  American Mullet (2001)    5514
1          5.433050    96481  American Mullet (2001)   63187
2          4.838611    96481  American Mullet (2001)  111273
3          4.728069    96481  American Mullet (2001)  133172
4          4.609554    96481  American Mullet (2001)  107235

### Batch predictions for all users and movies
What if we wish to carry out predictions for every user and movie combination? Instead of having to pull distinct users and movies as in the previous query, a convenience function is provided to carry out batch predictions for all movieId and userId encountered during training. A limit is applied here, otherwise, all user-movie predictions will be returned and will crash the notebook.

In [15]:
%%bigquery --project $PROJECT
SELECT *
FROM ML.RECOMMEND(MODEL `cloud-training-demos.movielens.recommender_16`)
LIMIT 10

Query complete after 0.00s: 100%|██████████| 5/5 [00:00<00:00, 2377.18query/s]
Downloading: 100%|██████████| 10/10 [00:01<00:00,  6.99rows/s]

   predicted_rating  userId  movieId
0          2.404522   65792      256
1          1.832677   65792      512
2          2.324626   65792      768
3          3.138003   65792     1792
4          2.055739   65792     2048
5          2.106728   65792    66304
6          3.760160   65792     2304
7          1.870980   65792     1024
8          1.417704   65792   131072
9          3.429773   65792     1280

As seen in a section above, it is possible to filter out movies the user has already seen and rated in the past. The reason already seen movies aren’t filtered out by default is that there are situations (think of restaurant recommendations, for example) where it is perfectly expected that we would need to recommend restaurants the user has liked in the past.

Copyright 2019 Google Inc. Licensed under the Apache License, Version 2.0 (the "License"); you may not use this file except in compliance with the License. You may obtain a copy of the License at http://www.apache.org/licenses/LICENSE-2.0 Unless required by applicable law or agreed to in writing, software distributed under the License is distributed on an "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied. See the License for the specific language governing permissions and limitations under the License.